.button {
  border: none;
  cursor: pointer;
  padding: 3px 16px 5px;
  border-radius: 200px;
  background: #f5f5f5;
  line-height: 20px;
  color: #abadb1;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #d5d5d5 !important;
}

.button:active,
.button.is-checked {
  background: linear-gradient(210.75deg, #0077b6 0%, #00527f 100%) !important;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.button-group {
  margin-bottom: 20px;
}

.filter-container {
  transition: max-height 0.4s ease-in-out;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 40px 15px 0;
  overflow: hidden;
  margin: 40px 0 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button {
  border-radius: 20px;
  margin: 0 12px;
  background-color: #eaeaeb;
  font-weight: 400;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.element-item {
  cursor: pointer;
  height: fit-content;
  padding: 16px;
  color: #383d47;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .container-img {
    width: auto;
    padding: 24px;
    margin-bottom: 16px;
    background-color: #f6f6f6;
    img {
      height: 180px;
    }
    &:hover {
      background-color: #e2e2e3;
    }
  }
  &:hover {
    color: #0077b6;
  }
}
