@media (min-width: 1200px) {
  .container-introduction {
    max-width: 970px !important;
  }
}

.container-introduction {
  z-index: 2;
  margin-top: 160px;
  .img-introduction {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 600px;
    opacity: 0.7;
  }
  .title {
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.46);
    color: #000;
    font-family: Capitolium2;
    font-size: 56px;
    font-weight: bold;
    line-height: 62px;
    margin-top: -250px;
  }
  .cs-body-1 {
    margin-top: 32px;
  }
}
