#nav {
  z-index: 3;
  top: 0;
  position: fixed;
  height: 48px;
  width: 100vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(210.75deg, #0077b6 0%, #00527f 100%);
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  .active {
    color: #0077b6;
  }
  a {
    border-radius: 0 !important;
    height: 100%;
    color: white;
    width: fit-content;
    padding: 12px 40px;
    + :active {
      border-color: transparent !important;
    }
  }
  .nav-link.active {
    border-color: transparent !important;
  }

  .logo {
    margin-right: 130px;
  }

  .btn-req-demo {
    margin-left: 120px;
    font-size: 12px;
    line-height: 29px;
    font-weight: normal;
    color: white;
    height: 32px;
    min-width: 150px;
    border: 1px solid white;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .arrow {
      transform: rotate(180deg);
      height: 12px;
      filter: invert(100%);
    }
  }
}

#nav-content {
  z-index: 3;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 47px;
  background-color: white;
  left: 0;
  width: 100%;
  box-shadow: 0 20px 29px 0 rgba(0, 0, 0, 0.15);
  padding-top: 17px;
  padding-bottom: 17px;
  height: 93px;
  .container-subtitle {
    display: flex;
    margin-left: -120px;
  }
  .submenu-title {
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #2d333d;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 40px 0 40px;
  }
}
